body{ background-image: url("kepek/dark-background-abstract-background-network-3d-background-3840x2160-8324.png");
    font-family:Arial,sans-serif;
    background-color: white;
    width: 1000px;
    color: white;
    margin: auto;
   
}

.jatekok{ width: 400px;
            border: 10px solid rgb(50, 48, 48); 
            border-radius: 15%; 
            padding: 10px; 
            

}
#LastofUs_id{
            color: lightgray;
            text-decoration: none;  
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 5%;
            background-color: rgb(50, 48, 48);
            margin-top: 50px;
            
            
            

}
#TombRaider_id{ color: lightgray;
    text-decoration: none;  
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    background-color: rgb(50, 48, 48);

}
#PlagueTale_id{ color: lightgray;
    text-decoration: none;  
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    background-color: rgb(50, 48, 48);
}
#Focim_id{text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
    
    
    
}

.szoveg{ text-align: justify;
            font-size: 15px;
            font-family: "Rockwell", serif;
            color: rgb(255, 255, 255);

}
a{text-align: center;
    color: lightgray;
    text-decoration: none;
    padding: 10px;
    border: 10px solid gray;
    border-radius: 25%;
    background-color: rgb(50, 48, 48);
    
    
}